* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("../imagens/london.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "logo nav";
}

#logo {
    grid-area: logo;
}

nav {
    grid-area: nav;
    font-size: 1.2em;
}


ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#home {
    color: #EE163A;
}

li {
    list-style-type: none;
}

a {
	text-decoration: none;
    color: white;
}

a:hover {
	color: #EE163A;
	text-decoration: none;
}

main {
    grid-area: main;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
}   

.countdown-container {
    color: white;
    font-weight: bold;
    padding: 1.25em;
    text-align: center;
}

.countdown {
    display: flex;
    justify-content: center;
}

.countdown-item {
    margin: 1em 1.5em;
}

.countdown-item span {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0.1em;
}

p.countdown-item {
    font-size: 3em;
    font-weight: bold;

}

#days, #dias {
    color: #EE163A;
}

#hours, #horas {
    color: #FCC206;
}

#minutes, #minutos {
    color: #03AEF6;
}

#seconds, #segundos {
    color: #8FCA4A;
}

.event-description {
    display: flex;
    flex-direction: column;
    grid-area: description;
    font-size: 2em;
    color: white;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

#h1-description {
    margin-bottom: 5em;
}

.call-to-action {
    grid-area: call-to-action;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    padding: 0 2em
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
    text-align: center;
}